footer {
  background-color: rgb(144, 172, 172);
  color: rgb(75, 73, 73);
  text-align: center;
  padding: 15px 0;
}
footer a{
  text-decoration: none;
  color: rgb(230, 243, 238);
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}
