<section id="inicio">
  <div class="contenido">
      <header>
          <div class="contenido-header">
              <h1>/FD/</h1>
              <nav id="nav" class="">
                  <ul id="links">
                      <li><a href="#inicio">INICIO</a></li>
                      <li><a href="#sobremi">SOBRE MI</a></li>
                      <li><a href="#educacion">EDUCACION</a></li>
                      <li><a href="#experiencia">EXPERIENCIA</a></li>
                      <li><a href="#habilidades">HABILIDADES</a></li>
                      <li><a href="#proyectos">PROYECTOS</a></li>
                  </ul>
              </nav>

              <div class="redes">
                  <a href="https://www.facebook.com/fabriciodaniele.7/"><i class="fa-brands fa-facebook"></i></a>
                  <a href="https://www.instagram.com/underrrcontrol/"><i class="fa-brands fa-square-instagram"></i></a>
                  <a href="https://github.com/underrrcontrol?tab=repositories"><i class="fa-brands fa-square-github"></i></a>
              </div>
          </div>
      </header>
      <div class="presentacion">
          <p class="bienvenida" style="margin: 30px;">Bienvenidos</p>
          <h2>Soy <span>Daniele Fabricio</span>, Developer full stack jr.</h2>
          <p class="descripcion"><b>Empleado administrativo, contable e impositivo; Técnico en administración de empresas; Estudiante de programación web, frontend y backend; Músico compositor y baterísta</b></p>
      </div>
  </div>
</section>
