<section id="habilidades">
  <h3 class="titulo-seccion">HABILIDADES</h3>
  <div class="fila">
      <div class="habilidades">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Desarrollo Frontend y Backend</h4>
          <hr>
          <p>Conocimientos de html, css y JavaScript, Java web, Base de datos, MySql, Springboot </p>
      </div>
      <div class="habilidades">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Declaración de impuestos</h4>
          <hr>
          <p>Impuestos de Afip, Ater y Profesiones liberales</p>
      </div>
      <div class="habilidades">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Idioma Inglés</h4>
          <hr>
          <p>Nivel medio de Inglés técnico </p>
      </div>
      <div class="habilidades">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Músico y Baterísta amateur autodidacta</h4>
          <hr>
          <p>Clases de batería grupales y particulares, primeros pasos, primeras técnicas y rítmos</p>
      </div>
  </div>

</section>
