<section id="contacto">
  <h3 class="titulo-seccion">Contactame ahora</h3>
  <div class="contenedor-form">
      <form action="">
          <div class="fila mitad">
              <input type="text" placeholder="Nombre Completo" class="inut-mitad">
              <input type="text" placeholder="Dirección de Email" class="input-mitad">
          </div>
          <div class="fila">
              <input type="text" placeholder="Tema..." class="input-full">
          </div>
          <div class="fila">
              <textarea name="" id="" cols="30" rows="10" placeholder="Tu mensaje ..." class="input-full"></textarea>
          </div>

          <input type="submit" value="Enviar mensaje" class="btn-enviar">
      </form>
  </div>
</section>

<footer>
  <p>Todos los derechos reservados - 2023</p>
  <div class="redes">
      <a href="https://www.youtube.com/channel/UCFSnsR-zQcq3L0vzEbHVaOw"><i class="fa-brands fa-youtube"></i></a>
      <a href="https://www.facebook.com/fabriciodaniele.7/"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://twitter.com/UnderrrControl"><i class="fa-brands fa-square-twitter"></i></a>
      <a href="https://www.instagram.com/underrrcontrol/"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://github.com/underrrcontrol?tab=repositories"><i class="fa-brands fa-square-github"></i></a>
      <a href="https://open.spotify.com/user/underrrcontrol"><i class="fa-brands fa-spotify"></i></a>
  </div>
</footer>
