<section id="educacion">
  <h3 class="titulo-seccion">EDUCACION</h3>
  <div class="fila">
      <div class="educacion">
          <span class="icono"><i class="fa-solid fa-school"></i></span>
          <h4>Títulos</h4>
          <hr>
          <ul class="educacion-tag">
              <li>Técnico en administración de empresas, 2006, Facultad de Ciencias Económicas, UCU Universidad de Concepción del Uruguay, Entre Ríos</li>
          </ul>
          <p></p>
      </div>

      <div class="educacion">
          <span class="icono"><i class="fa-solid fa-school"></i></span>
          <h4>Títulos</h4>
          <hr>
          <ul class="educacion-tag">
              <li>Contador Público sin concluir, Facultad de Ciencias Económicas, UCU Universidad de Concepción del Uruguay, Entre Ríos</li>
          </ul>
          <p>70% de la carrera aprobada</p>
      </div>

      <div class="educacion">
          <span class="icono"><i class="fa-solid fa-school"></i></span>
          <h4>Cursos</h4>
          <hr>
          <ul class="educacion-tag">
              <li>Desarrollador Full Stack Jr; 2023, Argentina Programa, #Yo programo 4ta edición</li>
          </ul>
          <p>Conocimientos de Html, Css, JavaScript, Angular, Typescript, Github, Protocolo Http, Bases de Datos, Json, Java, MySql, POO, Java Web, Spring Boot</p>
      </div>

      <div class="educacion">
          <span class="icono"><i class="fa-solid fa-school"></i></span>
          <h4>Cursos</h4>
          <hr>
          <ul class="educacion-tag">
              <li>Nivel 4 de Inglés técnico para desarrolladores de software del Centro Universitario de idiomas a2.2, Plan Argentina Programa 4.0</li>
          </ul>
          <p></p>
      </div>
  </div>
</section>
