<section id="educacion">
  <h3 class="titulo-seccion">EDUCACION</h3>
  <li *ngFor="let educacion of educacionList">
    <div class="fila">
        <div class="educacion">
            <span class="icono"><i class="fa-solid fa-school"></i></span>
            <h4>Títulos</h4>
            <hr>
            <ul class="educacion-tag">
              <p>{{educacion.school}}, {{educacion.title}}, desde {{educacion.start}} - {{educacion.end}}</p>
            </ul>
            <div class="btn-edit">
              <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
            </div>
        </div>
    </div>
  </li>
</section>
