<section id="proyectos">
  <h3 class="titulo-seccion">PROYECTOS <br> METRONOMO EN CONSTRUCCION</h3>
  <div class="fila">
      <P>Se trata de una app, destinada a músicos, preferentemente baterístas <br> Una app gratuita ya que no se encuentran de este tipo</P>
      <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
      </div>
          <div>
              <img src="assets/metro1.jpg" alt="metronomo 1">
              <br>
              <br>
              <img src="assets/metro2.jpg" alt="">
          </div>
      </div>
</section>
