<section id="experiencia">
  <h3 class="titulo-seccion">EXPERIENCIA LABORAL</h3>
  <div class="fila">
      <div class="experiencia">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Empleado administrativo-contable Empresa "El Gran Pollo"</h4>
          <hr>
          <p>2006 - 2007 <br> tareas administrativas, contables, control de costos y recepción de insumos, presupuestos, carga en base de datos</p>
      </div>

      <div class="experiencia">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Pasantía administrativo-contable en Colegio De Escribanos De Entre Ríos</h4>
          <hr>
          <p>2008 - Enero 2009 <br> Realizando tareas administrativas, contables e impositivas</p>
      </div>

      <div class="experiencia">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Planta permanente en Colegio De Escribanos De Entre Ríos</h4>
          <hr>
          <p>2009 hasta la actualidad <br> de Caja, tareas administrativas, contables y jurídicas, liquidación de impuestos</p>
      </div>

      <div class="experiencia">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Músico y Baterísta amateur autodidacta</h4>
          <hr>
          <p>Clases de batería Octubre 2022 hasta la actualidad <br> Clases grupales y particulares de batería, primeros pasos, primeras técnicas y rítmos</p>
      </div>
  </div>
</section>
