<section id="experiencia">
  <h3 class="titulo-seccion">EXPERIENCIA LABORAL Y HABILIDADES</h3>
  <div class="fila">
      <div class="experiencia">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Empleado administrativo-contable Empresa "El Gran Pollo"</h4>
          <hr>
          <ul class="experiencia-tag">
              <li>Abril de 2006 - hasta Diciembre 2007</li>
          </ul>
          <p>Realizando tareas administrativas, contables, control de costos y recepción de insumos, presupuestos, carga en base de datos</p>
      </div>

      <div class="experiencia">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Pasantía administrativo-contable en Colegio De Escribanos De Entre Ríos</h4>
          <hr>
          <ul class="experiencia-tag">
              <li>Febrero de 2008 - hasta Enero 2009</li>
          </ul>
          <p>Realizando tareas administrativas, contables e impositivas, manejo de fondos, caja chica, bancos, manejo de expedientes, fondo fijo, atención al público en general</p>
      </div>

      <div class="experiencia">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Planta permanente en Colegio De Escribanos De Entre Ríos</h4>
          <hr>
          <ul class="experiencia-tag">
              <li>Febrero 2009 hasta la actualidad</li>
          </ul>
          <p>Encargado de Caja, tareas administrativas, contables y jurídicas, liquidación de impuestos nacionales y provinciales; legalización para validéz nacional y Apostilla de la Haya para validéz internacional de la documentación, manejo de fondos, caja chica, bancos, manejo de expedientes, atención al público en general, cobro de impuestos</p>
      </div>

      <div class="experiencia">
          <span class="icono"><i class="fa-solid fa-briefcase"></i></span>
          <h4>Músico y Baterísta amateur autodidacta</h4>
          <hr>
          <ul class="experiencia-tag">
              <li>Clases de batería Octubre 2022 hasta la actualidad</li>
          </ul>
          <p>Clases grupales y particulares de batería, primeros pasos, primeras técnicas y rítmos</p>
      </div>
  </div>
</section>
