#sobremi {
  background-color: rgb(230, 101, 101);
  padding: 100px 15px;
  color: black;
  display: flex;
}
#sobremi .contenedor-foto {
  max-width: 400px;
  margin-left: 180px;
}
#sobremi .contenedor-foto img {
  padding: 14px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(32, 32, 54);
}
#sobremi .sobremi {
  margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(230, 101, 101);
  text-decoration-thickness: 2px;
}
#sobremi .sobremi h2{
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}
#sobremi .sobremi h2 span {
  color: rgb(230, 101, 101);
}
#sobremi .sobremi h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#sobremi .sobremi p {
  font-size: 18px;
  line-height: 25px;
  color: rgb(32, 32, 54);
  margin-bottom: 12px;
}
#sobremi .sobremi a {
  display: inline-block;
  text-decoration: none;
  color: rgb(32, 32, 54);
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid rgb(32, 32, 54);
  margin-top: 30px;
  transition: .5s;
}
#sobremi .sobremi a:hover {
  background-color: rgb(230, 101, 101);
}
